<% round_presenter = RoundPresenter.new(round) %>
<tr>
  <td class="pt-4 pb-2 pl-4 whitespace-no-wrap border-b border-gray-200 lg:py-6">
    <div class="mb-2 text-lg leading-5 text-gray-900">
      <%= round.course.name %>
    </div>
    <div class="text-xs italic leading-5 text-gray-800">
      <%= round.date.strftime("%b %e, %Y") %>
    </div>
  </td>
  <td class="pt-4 pb-2 pr-4 text-center whitespace-no-wrap border-b border-gray-200 lg:py-6">
    <div class="mb-2 text-lg leading-5 text-right text-gray-900">
      <%= round.score %>
    </div>
    <div class="text-xs italic leading-5 text-right text-gray-800">
      <%= round_presenter.round_differential %>
    </div>
  </td>
</tr>
