<div class="max-w-xl m-4 sm:mx-auto">
  <%= simple_form_for @round, html: { class: "bg-white w-full shadow-md rounded px-8 pt-6 pb-8 mb-4" } do |f| %>
    <%= render "form", f: f %>
  <% end %>
</div>
